:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
.title{
    color: #000000;
    position: relative;
    padding: 0px;
    margin-left: 90px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
}

.ic{
    font-size: 30px;
    color: black;

}

ion-card-title{
    color: #b39200;
    margin-left:20px;
    font-family: American Typewriter, serif;
    font-size: 20px;
    margin-top: 10px;
    position: relative  ;
}

ion-card-subtitle{
    color: #3d3d3d;
    margin-left:20px;
    font-family: American Typewriter, serif;
    font-size: 12px;
    margin-top: 10px;
    position: relative  ;
    text-align: left;
}

.but{
    --border-color:#b39200;
    color: #3d3d3d;
    margin-left:90px;
    margin-top:20px;
    font-family: American Typewriter, serif;
    --background-activated:#ffffeb;
}

.but2{
    --border-color:#b39200;
    color: #3d3d3d;
    margin-left:90px;
    margin-top:20px;
    font-family: American Typewriter, serif;
    --background-activated:#ffffeb;
}
.but3{
    --border-color:#b39200;
    color: #3d3d3d;
    margin-left:110px;
    margin-top:20px;
    font-family: American Typewriter, serif;
    --background-activated:#ffffeb;
}


